@font-face{
    -fx-font-family: 'Roboto Bold';
    src: url("Roboto-Bold.ttf");
}

@font-face{
    -fx-font-family: 'Roboto Light';
    src: url("Roboto-Light.ttf");
}

.titulos{
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 24px;
}
.formulario{ 
    -fx-font-family: 'Roboto Light';
    -fx-font-size: 14px;
}

.id{ 
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 18px;
}

.btngeneral {
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #006633;
    -fx-background-radius: 30px;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px; 
}

.btngeneral:hover{
    -fx-background-color: #333333;
}

.botonEliminar{
    -fx-font-family: 'Roboto Bold';
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #ff3333;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px; 
}

.botonEliminar:hover{
    -fx-background-color: #cc0033;
}