@font-face {
    src: url("Roboto-Bold.ttf");
}

.container {
}

.botones {
  -fx-background-color: grey;
  -fx-padding: 5px;
  -fx-font-size: 16px;
  -fx-font-family: "Roboto Bold";
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 8px;
}

#labelInfo{
    -fx-font-size: 16px;  
    -fx-font-family: "Arial";
    -fx-font-color: #666667;
    -fx-weight: italic;
}

#txtUsuario{
    -fx-font-size: 18px;  
    -fx-font-family: "System";
    -fx-text-color: white;
    -fx-font-weight: bold;
}

#txtClave{
    -fx-font-size: 18px;  
    -fx-font-family: "System";
    -fx-weight: bold;
    -fx-text-color: white;
    -fx-font-weight: bold;
}

.botones#btnAlumno { /*Estilos del boton entrar del LandingView */
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#666666, #191516);
    -fx-background-radius: 14px;
}

.button#btnAlumno:hover { 
    -fx-background-color: linear-gradient(lightblue, white);
}

.botones#btnProfesor { /*Estilos del boton entrar del LandingView */
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#666666, #191516);
    -fx-background-radius: 14px;
}

.button#btnProfesor:hover {
    -fx-background-color: linear-gradient(white, lightblue);
}

.botones#btnEntrar { /*Estilos del boton entrar del LandingView */
    -fx-background-color: #2fb2ef;
    -fx-pref-width: 80px;
}

.botones#btnEntrar:hover {
    -fx-background-color: #2fa2f6;
}

.botones#btnReset { /*Estilos del boton salir del LandingView*/
    -fx-background-color: #e35628;
    -fx-pref-width: 80px;
}

.botones#btnReset:hover { 
    -fx-background-color: #F06D30;
}

.login#vboxLogin{
    -fx-background-color: linear-gradient(#9fffff 0%, #ffffff 30%, #ffffff 70%, #9fffff 100%);
}
